
img[alt~="center"] {
display: block;
margin: 0 auto;
}

.circular_image img{
border-radius: 50%;
overflow: hidden;
}
.rounded_image img{
border-radius: 30%;
overflow: hidden;
border: 6px solid var(--text);
}

.fa-window-maximize { color: skyblue; }

svg[id^="mermaid-"] { 
min-width: 480px; 
max-width: 960px; 
min-height: 360px; 
max-height: 600px; 
}

img {
background-color: initial;
}