
.columns {
display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
gap: 1rem;
}

.columns3 {
display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
gap: 1rem;
} 

.rows {
display: grid;
grid-template-rows: repeat(2, minmax(0, 1fr));
gap: 1rem;
}

.rows3 {
display: grid;
grid-template-rows: repeat(3, minmax(0, 1fr));
gap: 1rem;
} 
